<%= tag.div id: dom_id(event), class: "bg-brand-lighter rounded-lg p-8" do %>

  <p class="hover:text-gray">
    <%= link_to event.organisation.kind.titleize, event %>
  </p>

  <p class="text-3xl font-bold mb-3 hover:text-gray">
    <%= link_to event.name, event %>
  </p>

  <p class="mb-6">
    <%= pluralize(event.talks.count, "talk") %> from
    <%= pluralize(event.talks.flat_map(&:speakers).uniq.count, "speakers") %>
  </p>

  <%= link_to event.organisation.website, class: "flex hover:text-black", target: "_top" do %>
    <span class="mr-1">Website</span>
    <%= heroicon "arrow-top-right-on-square" %>
  <% end %>
<% end %>
